:root {
    --rad: 0.7rem;
    --dur: 0.3s;
    --color-dark: #2f2f2f;
    --color-light: #fff;
    --color-brand: #57bd84;
    --font-fam: 'Lato', sans-serif;
    --height: 5rem;
    --btn-width: 6rem;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

body {
    background: var(--color-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    margin: 0;
    padding: 3rem;
}

html {
    box-sizing: border-box;
    height: 100%;
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    font-family: var(--font-fam);
}

*, *::before, *::after {
    box-sizing: inherit;
}

form {
    position: relative;
    width: 90rem;
    background: var(--color-brand);
    border-radius: var(--rad);
}

input, .hiding-btn {
    height: var(--height);
    border: 0;
    color: var(--color-dark);
    font-size: 1.8rem;
}

input[type="search"] {
    outline: 0;
    width: 100%;
    background: var(--color-light);
    padding: 0 1.6rem;
    border-radius: var(--rad);
    appearance: none;
    transition: all var(--dur) var(--bez);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
}

.hiding-btn {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: var(--btn-width);
    font-weight: bold;
    background: var(--color-brand);
    border-radius: 0 var(--rad) var(--rad) 0;
    cursor: pointer;
}

#timeframe-btn {
    right: var(--btn-width);
    height: var(--height);
    width: var(--btn-width);
    justify-content: center;
    align-items: center;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0xMiAwYzYuNjIzIDAgMTIgNS4zNzcgMTIgMTJzLTUuMzc3IDEyLTEyIDEyLTEyLTUuMzc3LTEyLTEyIDUuMzc3LTEyIDEyLTEyem0wIDFjNi4wNzEgMCAxMSA0LjkyOSAxMSAxMXMtNC45MjkgMTEtMTEgMTEtMTEtNC45MjktMTEtMTEgNC45MjktMTEgMTEtMTF6bTAgMTFoNnYxaC03di05aDF2OHoiLz48L3N2Zz4=) center center no-repeat;
    background-origin: content-box;
    background-size: 2.5rem 2.5rem;
    z-index: 2;
}

input:not(:placeholder-shown) {
    border-radius: var(--rad) 0 0 var(--rad);
    width: calc(100% - var(--btn-width) - var(--btn-width));
}

input:not(:placeholder-shown) + .hiding-btn {
    display: block;
}

label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

#title {
    width: auto;
}

#title h1 {
    height: var(--height);
    border: 0;
    color: var(--color-light);
    font-size: 5rem;
    margin-bottom: 4rem;
}

#page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    cursor: pointer;
    appearance: none;
    height: 2rem;
    width: 2rem;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE5LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgNDkwIDQ5MCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNDkwIDQ5MDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBvbHlnb24gcG9pbnRzPSIxMS4zODcsNDkwIDI0NSwyNTUuODMyIDQ3OC42MTMsNDkwIDQ4OS40MzksNDc5LjE3NCAyNTUuODA5LDI0NC45OTYgNDg5LjQzOSwxMC44MTEgNDc4LjYxMywwIDI0NSwyMzQuMTYxIA0KCTExLjM4NywwIDAuNTYxLDEwLjgxMSAyMzQuMTkxLDI0NC45OTYgMC41NjEsNDc5LjE3NCAiLz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjwvc3ZnPg0K);
    background-size: 2rem 2rem;
}


#search-mode:before {
    animation: topToBottom 5s infinite 0s;
}

#search-mode {
    animation: colorRotate 6s linear 0s infinite;
    cursor: pointer;
}

@keyframes colorRotate {
    from {
        color: #6666ff;
    }
    10% {
        color: #0099ff;
    }
    50% {
        color: #00ff00;
    }
    75% {
        color: #ff3399;
    }
    100% {
        color: #6666ff;
    }
}

#timeframes-picker {
    display: none;
}

#timeframes-picker ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 0.4rem;
    padding: 0;
    align-items: center;
    text-align: center;
    width: 10rem;
    height: fit-content;
    max-height: 24rem;
    left: calc(50vw + 31rem);
    background: var(--color-light);
    background: var(--color-light);
    border-radius: 1.5rem;
    list-style-type: none;
    overflow: hidden;
    z-index: 2;
}

#timeframes-picker li {
    list-style-type: none;
    width: 100%;
    height: 4.5rem;
}

.timeframe-item:hover {
    opacity: 0.8;
    background: var(--color-brand);
}

.timeframe-item {
    padding-top: 1.4rem;
    text-align: center;
    align-items: center;
    font-size: large;
    font-weight: bold;
}

.active-timeframe {
    background: var(--color-brand);
}

#splice {
    position: absolute;
    left: calc(50vw + 33rem);
    background: var(--color-brand);
    width: var(--btn-width);
    height: 4rem;
    z-index: 1;
    margin-top: -1.8rem;
    border-radius: 100%;
}